USE [master]
GO
/****** Object:  Database [hehe1]    Script Date: 04/10/2023 8:39:08 pm ******/
CREATE DATABASE [hehe1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hehe1', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hehe1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hehe1_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hehe1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hehe1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hehe1]
GO
/****** Object:  Table [dbo].[AcademicRank]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicRank](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[wage] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccessLog]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessLog](
	[id] [int] NOT NULL,
	[ipAddress] [varchar](15) NULL,
	[accessTime] [timestamp] NOT NULL,
	[accessCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminSidebarMenu]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminSidebarMenu](
	[name] [nvarchar](50) NULL,
	[link] [varchar](500) NULL,
	[icon] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[id] [int] NOT NULL,
	[userId] [varchar](255) NULL,
	[doctorId] [varchar](255) NULL,
	[serviceId] [int] NULL,
	[plannedAt] [time](7) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[id] [varchar](255) NOT NULL,
	[doctorId] [varchar](255) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[id] [int] NOT NULL,
	[title] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BannerDetails]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BannerDetails](
	[id] [int] NOT NULL,
	[number] [nvarchar](10) NULL,
	[information] [nvarchar](max) NULL,
	[bannerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillingHistory]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingHistory](
	[id] [int] NOT NULL,
	[appointmentId] [int] NULL,
	[totalCash] [float] NULL,
	[userId] [varchar](255) NULL,
	[doctorId] [varchar](255) NULL,
	[createdAt] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[locateId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancelledRequest]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancelledRequest](
	[id] [int] NOT NULL,
	[appointmentId] [int] NULL,
	[totalRefund] [float] NULL,
	[userId] [varchar](255) NULL,
	[doctorId] [varchar](255) NULL,
	[cancelledAt] [time](7) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificate](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[wage] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificateDoctor]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificateDoctor](
	[certId] [int] NOT NULL,
	[doctorId] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[certId] ASC,
	[doctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurriculumVitae]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurriculumVitae](
	[id] [int] NOT NULL,
	[introduce] [nvarchar](max) NULL,
	[education] [nvarchar](max) NULL,
	[workHistory] [nvarchar](max) NULL,
	[startYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[id] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[password] [nvarchar](255) NOT NULL,
	[displayName] [nvarchar](255) NULL,
	[branchId] [int] NULL,
	[phone] [varchar](10) NULL,
	[ARId] [int] NULL,
	[CVId] [int] NULL,
	[salary] [float] NULL,
	[workplace] [nvarchar](255) NULL,
	[profilePicture] [nvarchar](255) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorCertificates]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorCertificates](
	[DoctorId] [int] NOT NULL,
	[Certificates] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorService]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorService](
	[doctorId] [varchar](255) NOT NULL,
	[serviceId] [int] NOT NULL,
	[price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[doctorId] ASC,
	[serviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorServices]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorServices](
	[DoctorId] [int] NOT NULL,
	[Services] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorWorkingDay]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorWorkingDay](
	[dayOfWeek] [int] NOT NULL,
	[doctorId] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dayOfWeek] ASC,
	[doctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorWorkingSlot]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorWorkingSlot](
	[slotId] [int] NOT NULL,
	[doctorId] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[slotId] ASC,
	[doctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[id] [varchar](255) NOT NULL,
	[doctorId] [varchar](255) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] NOT NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[branchId] [int] NULL,
	[name] [nvarchar](255) NULL,
	[birthDate] [date] NULL,
	[gender] [int] NULL,
	[address] [nvarchar](255) NULL,
	[workplace] [nvarchar](255) NULL,
	[provinceId] [int] NULL,
	[phone] [varchar](10) NULL,
	[ethnic] [nvarchar](255) NULL,
	[roleId] [int] NULL,
	[createAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRole]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRole](
	[id] [int] NOT NULL,
	[role] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experience]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experience](
	[id] [varchar](255) NOT NULL,
	[doctorId] [varchar](255) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamilyProfile]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamilyProfile](
	[profileId] [int] NOT NULL,
	[email] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[birthDate] [date] NULL,
	[gender] [int] NULL,
	[address] [nvarchar](255) NULL,
	[provinceId] [int] NULL,
	[identity] [varchar](15) NULL,
	[medicalId] [varchar](15) NULL,
	[ethnic] [nvarchar](255) NULL,
	[phone] [varchar](10) NULL,
	[profilePicture] [varchar](255) NULL,
	[createdAt] [datetime] NULL,
	[relationId] [int] NULL,
	[ownerId] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[profileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NavigationItem]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NavigationItem](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[link] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[id] [int] NOT NULL,
	[title] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[author] [varchar](255) NULL,
	[categoryId] [int] NULL,
	[createdAt] [datetime] NULL,
	[lastModified] [datetime] NULL,
	[viewCount] [int] NULL,
	[coverImage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsCategory]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsCategory](
	[id] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relationship]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relationship](
	[id] [int] NOT NULL,
	[relation] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResearchPapers]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResearchPapers](
	[id] [varchar](255) NOT NULL,
	[doctorId] [varchar](255) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[id] [int] NOT NULL,
	[userId] [varchar](255) NULL,
	[doctorId] [varchar](255) NULL,
	[appointmentId] [int] NULL,
	[rating] [float] NULL,
	[reviewContent] [nvarchar](1500) NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTag]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTag](
	[id] [int] NOT NULL,
	[nametag] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[departmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TitleTable]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TitleTable](
	[titleTableEmployee] [nvarchar](50) NULL,
	[titleTableDoctor] [nvarchar](50) NULL,
	[titleTableUser] [nvarchar](50) NULL,
	[titleTableAppointments] [nvarchar](50) NULL,
	[titleTableReviews] [nvarchar](50) NULL,
	[titleTableNews] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[birthDate] [date] NULL,
	[gender] [int] NULL,
	[address] [nvarchar](255) NULL,
	[provinceId] [int] NULL,
	[identity] [varchar](15) NULL,
	[medicalId] [varchar](15) NULL,
	[ethnic] [nvarchar](255) NULL,
	[phone] [varchar](10) NULL,
	[profilePicture] [varchar](255) NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkingSlot]    Script Date: 04/10/2023 8:39:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkingSlot](
	[id] [int] NOT NULL,
	[startTime] [time](7) NULL,
	[endTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AcademicRank] ([id], [name], [wage]) VALUES (1, N'Giáo sư', NULL)
INSERT [dbo].[AcademicRank] ([id], [name], [wage]) VALUES (2, N'Phó giáo sư', NULL)
GO
INSERT [dbo].[AdminSidebarMenu] ([name], [link], [icon]) VALUES (N'Trang chủ', N'/admin-employee-home', N'fa fa-dashboard')
INSERT [dbo].[AdminSidebarMenu] ([name], [link], [icon]) VALUES (N'Nhân viên', N'/admin-list-employee', N'fa fa-user')
INSERT [dbo].[AdminSidebarMenu] ([name], [link], [icon]) VALUES (N'Bác sĩ', N'/admin-doctors', N'fa fa-user-md')
GO
INSERT [dbo].[Appointments] ([id], [userId], [doctorId], [serviceId], [plannedAt], [status]) VALUES (1, N'1', N'1', 1, NULL, 2)
INSERT [dbo].[Appointments] ([id], [userId], [doctorId], [serviceId], [plannedAt], [status]) VALUES (2, N'1', N'1', 2, NULL, 2)
GO
INSERT [dbo].[Awards] ([id], [doctorId], [description]) VALUES (N'1', N'1', N'Travel award, ICBMT 2018')
INSERT [dbo].[Awards] ([id], [doctorId], [description]) VALUES (N'10', N'7', N'Huy chương "Vì sự nghiệp chăm sóc sức khỏe Nhân dân"')
INSERT [dbo].[Awards] ([id], [doctorId], [description]) VALUES (N'11', N'8', N'Huy chương "Vì sự nghiệp chăm sóc sức khỏe Nhân dân"')
GO
INSERT [dbo].[Banner] ([id], [title], [description], [image]) VALUES (1, N'MediCare', N'là hệ thống bệnh viện lớn do MediGroup đầu tư phát triển nhằm đem lại chất lượng cuộc sống tốt hơn cho người dân ở khắp mọi miền tổ quốc', N'assets/client/images/knowledge-bg.png')
GO
INSERT [dbo].[BannerDetails] ([id], [number], [information], [bannerId]) VALUES (1, N'~10', N'năm kinh nghiệm', 1)
INSERT [dbo].[BannerDetails] ([id], [number], [information], [bannerId]) VALUES (2, N'02', N'bệnh viện được công nhận đạt chuẩn y tế toàn cầu JCI', 1)
INSERT [dbo].[BannerDetails] ([id], [number], [information], [bannerId]) VALUES (3, N'10', N'bệnh viện trên hệ thống ', 1)
GO
INSERT [dbo].[Branch] ([id], [name], [description], [locateId]) VALUES (1, N'Vinmec Hà Nội', NULL, 1)
INSERT [dbo].[Branch] ([id], [name], [description], [locateId]) VALUES (2, N'Vinmec TP Hồ Chí Minh', NULL, 2)
INSERT [dbo].[Branch] ([id], [name], [description], [locateId]) VALUES (3, N'Vinmec Nha Trang', NULL, 3)
GO
INSERT [dbo].[Certificate] ([id], [name], [wage]) VALUES (1, N'Bác sĩ ', NULL)
INSERT [dbo].[Certificate] ([id], [name], [wage]) VALUES (2, N'Bác sĩ chuyên khoa II', NULL)
INSERT [dbo].[Certificate] ([id], [name], [wage]) VALUES (3, N'Thạc sĩ', NULL)
GO
INSERT [dbo].[Department] ([id], [name], [description]) VALUES (1, N'Nội', N'Khoa chuyên về chẩn đoán, điều trị và quản lý các bệnh lý nội tiết và lâm sàng trong cơ thể. Đây là nơi tập trung điều trị các bệnh ảnh hưởng đến các cơ quan và hệ thống nội tiết của cơ thể.')
INSERT [dbo].[Department] ([id], [name], [description]) VALUES (2, N'Ngoại', N'Khoa chuyên về phẫu thuật và điều trị các vấn đề y tế cần can thiệp từ bên ngoài cơ thể, bao gồm cả phẫu thuật cấp cứu và các ca phẫu thuật lập kế hoạch như phẫu thuật chỉnh hình.')
INSERT [dbo].[Department] ([id], [name], [description]) VALUES (3, N'Nhi', N'Khoa tập trung vào sức khỏe của trẻ em và thiếu niên, bao gồm cả chăm sóc cho trẻ từ lúc mới sinh đến tuổi vị thành niên. Điều này bao gồm kiểm tra sức khỏe định kỳ, điều trị các bệnh lý trẻ em, và tư vấn về chăm sóc sức khỏe cho gia đình.')
GO
INSERT [dbo].[Doctor] ([id], [email], [password], [displayName], [branchId], [phone], [ARId], [CVId], [salary], [workplace], [profilePicture], [status]) VALUES (N'1', N'doctor@gmail.com', N'123456', N'Nguyễn Thanh Liêm', 1, N'0123456789', 1, 1, 3000, N'Hà Nội', NULL, 0)
INSERT [dbo].[Doctor] ([id], [email], [password], [displayName], [branchId], [phone], [ARId], [CVId], [salary], [workplace], [profilePicture], [status]) VALUES (N'10', N'doctor9@gmail.com', N'123456', N'Lê Thị My', 1, N'0123456789', NULL, 5, NULL, N'Hà Nội', NULL, NULL)
INSERT [dbo].[Doctor] ([id], [email], [password], [displayName], [branchId], [phone], [ARId], [CVId], [salary], [workplace], [profilePicture], [status]) VALUES (N'2', N'doctor1@gmail.com', N'123456', N'Phạm Nhật An', 1, N'0123456789', 1, 2, NULL, N'Hà Nội', NULL, NULL)
GO
INSERT [dbo].[DoctorCertificates] ([DoctorId], [Certificates]) VALUES (1, NULL)
INSERT [dbo].[DoctorCertificates] ([DoctorId], [Certificates]) VALUES (2, NULL)
INSERT [dbo].[DoctorCertificates] ([DoctorId], [Certificates]) VALUES (3, NULL)
GO
INSERT [dbo].[DoctorService] ([doctorId], [serviceId], [price]) VALUES (N'10', 12, NULL)
INSERT [dbo].[DoctorService] ([doctorId], [serviceId], [price]) VALUES (N'4', 2, NULL)
INSERT [dbo].[DoctorService] ([doctorId], [serviceId], [price]) VALUES (N'7', 2, NULL)
GO
INSERT [dbo].[DoctorServices] ([DoctorId], [Services]) VALUES (1, NULL)
INSERT [dbo].[DoctorServices] ([DoctorId], [Services]) VALUES (2, NULL)
INSERT [dbo].[DoctorServices] ([DoctorId], [Services]) VALUES (3, NULL)
GO
INSERT [dbo].[Education] ([id], [doctorId], [description]) VALUES (N'1', N'1', N'1981: Tốt nghiệp Đại học Y khoa Hà Nội')
INSERT [dbo].[Education] ([id], [doctorId], [description]) VALUES (N'10', N'2', N'011: Tham gia khóa đào tạo về Kỹ thuật chẩn đoán trước sinh tại Đài Loan')
INSERT [dbo].[Education] ([id], [doctorId], [description]) VALUES (N'11', N'2', N'2006: Đào tạo Chẩn đoán trước sinh tại Singapore')
GO
INSERT [dbo].[Employee] ([id], [email], [password], [branchId], [name], [birthDate], [gender], [address], [workplace], [provinceId], [phone], [ethnic], [roleId], [createAt]) VALUES (1, N'hoangvhhe176169@fpt.edu.vn', N'4e3b0cec4ec3e98ffb1341d8753c757e9b864316d4170fb8c77f82b474ab4c497a6149ae926c8baf4123ec5d280efda4', 1, N'Hoang Vu', CAST(N'2003-05-05' AS Date), 0, N'ViN', N'VN', 1, N'0123456789', N'VN', 1, CAST(N'2003-05-05T00:00:00.000' AS DateTime))
INSERT [dbo].[Employee] ([id], [email], [password], [branchId], [name], [birthDate], [gender], [address], [workplace], [provinceId], [phone], [ethnic], [roleId], [createAt]) VALUES (2, N'hoangmeo1905@gmail.com', N'1a60d4c40feacbfb6d97850f3e9ebdc46392708ac7d3b9ebc0da2379a46efc97dafe25de04248a3d124237f9c5ae4eae', 1, N'Vu Huy Hoang', CAST(N'1900-01-01' AS Date), 1, N'53, Group 11, Minh Xuan District', N'VN', 1, N'0916432148', N'VN', 1, CAST(N'2023-09-24T05:09:31.477' AS DateTime))
INSERT [dbo].[Employee] ([id], [email], [password], [branchId], [name], [birthDate], [gender], [address], [workplace], [provinceId], [phone], [ethnic], [roleId], [createAt]) VALUES (3, N'binhntthe176420@fpt.edu.vn', N'3ebed938b5e29f48fa550e6cb116147d2b66f067dabd28fa567b0991380573c9177372accc3528b7d80ce9134556ea59', 1, N'Vu Huy Hoang', CAST(N'1900-01-01' AS Date), 1, N'hehe', N'VN', 1, N'0916432148', N'VN', 1, CAST(N'2023-09-24T05:10:17.993' AS DateTime))
GO
INSERT [dbo].[EmployeeRole] ([id], [role]) VALUES (1, N'non-Admin')
GO
INSERT [dbo].[Experience] ([id], [doctorId], [description]) VALUES (N'1', N'1', N'Từ 1984 - 2013: Nguyên Phó Trưởng khoa, Khoa Phụ sản, Bệnh viện Bạch Mai')
INSERT [dbo].[Experience] ([id], [doctorId], [description]) VALUES (N'10', N'2', N'2007 - 2008: Giảng viên lâm sàng, đơn vị Huyết học và Ung bướu, khoa Nội tổng hợp, Bệnh viện đại học quốc gia Seoul, Hàn Quốc')
INSERT [dbo].[Experience] ([id], [doctorId], [description]) VALUES (N'11', N'2', N'2003 - 2006: Bác sĩ Nội trú, khoa Nội tổng hợp, Bệnh viện đại học Inha, Incheon, Hàn Quốc')
GO
INSERT [dbo].[NavigationItem] ([id], [name], [link]) VALUES (1, N'Home', N'user-home')
INSERT [dbo].[NavigationItem] ([id], [name], [link]) VALUES (2, N'Branches', N'user-branches')
INSERT [dbo].[NavigationItem] ([id], [name], [link]) VALUES (3, N'Services', N'user-service')
GO
INSERT [dbo].[News] ([id], [title], [content], [author], [categoryId], [createdAt], [lastModified], [viewCount], [coverImage]) VALUES (1, N'hehe', N'hehe', N'hoangmeo1905@gmail.com', 1, CAST(N'2023-09-26T00:00:00.000' AS DateTime), CAST(N'2023-09-26T00:00:00.000' AS DateTime), 464, N'https://cdn.youmed.vn/tin-tuc/wp-content/uploads/2023/08/di-angesic.jpg?width=300')
INSERT [dbo].[News] ([id], [title], [content], [author], [categoryId], [createdAt], [lastModified], [viewCount], [coverImage]) VALUES (2, N'test', N'quỷ kiếm darkin', N'hoangmeo1905@gmail.com', 2, CAST(N'2021-06-15T00:00:00.000' AS DateTime), CAST(N'2021-09-29T00:00:00.000' AS DateTime), 9166, N'https://cdn.youmed.vn/tin-tuc/wp-content/uploads/2023/08/diaprid-4.jpg?width=300')
INSERT [dbo].[News] ([id], [title], [content], [author], [categoryId], [createdAt], [lastModified], [viewCount], [coverImage]) VALUES (3, N'top 4 người tui luôn tin tưởng', N'jack j97 trịnh trần phương tuấn meo meo', N'hoangvhhe176169@fpt.edu.vn', 2, CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-01T00:00:00.000' AS DateTime), 1000497, N'https://i.ytimg.com/vi/c_9F8m9rMvI/maxresdefault.jpg')
GO
INSERT [dbo].[NewsCategory] ([id], [name]) VALUES (1, N'hehe')
INSERT [dbo].[NewsCategory] ([id], [name]) VALUES (2, N'hehehe')
INSERT [dbo].[NewsCategory] ([id], [name]) VALUES (3, N'ehehehe')
GO
INSERT [dbo].[Province] ([id], [name]) VALUES (1, N'Hà Nội')
INSERT [dbo].[Province] ([id], [name]) VALUES (2, N'TP Hồ Chí Minh')
INSERT [dbo].[Province] ([id], [name]) VALUES (3, N'Nha Trang')
GO
INSERT [dbo].[Reviews] ([id], [userId], [doctorId], [appointmentId], [rating], [reviewContent], [createdAt]) VALUES (1, N'1', N'1', 1, 4, N'I’ve been using this medical service for over a year now and I’m extremely satisfied. The staff is always friendly and professional, and they go out of their way to make sure I’m comfortable. The facilities are clean and well-maintained. I highly recommend them!', CAST(N'2023-09-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Reviews] ([id], [userId], [doctorId], [appointmentId], [rating], [reviewContent], [createdAt]) VALUES (2, N'2', N'1', 2, 5, N'The level of care and attention I received was exceptional. The doctors and nurses were very knowledgeable and took the time to explain everything to me in a way that I could understand. I felt well taken care of throughout my treatment.', CAST(N'2023-09-24T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[ServiceTag] ([id], [nametag], [description], [departmentId]) VALUES (1, N'Nội tổng quát', NULL, 1)
INSERT [dbo].[ServiceTag] ([id], [nametag], [description], [departmentId]) VALUES (2, N'Tim mạch', N'', 1)
INSERT [dbo].[ServiceTag] ([id], [nametag], [description], [departmentId]) VALUES (3, N'Tiêu hóa', NULL, 1)
GO
INSERT [dbo].[TitleTable] ([titleTableEmployee], [titleTableDoctor], [titleTableUser], [titleTableAppointments], [titleTableReviews], [titleTableNews]) VALUES (N'ID', N'ID', N'ID', N'ID', N'ID', N'ID')
INSERT [dbo].[TitleTable] ([titleTableEmployee], [titleTableDoctor], [titleTableUser], [titleTableAppointments], [titleTableReviews], [titleTableNews]) VALUES (N'Email', NULL, N'Ảnh', N'Tên người dùng', N'Tên người dùng', N'Tiêu đề')
INSERT [dbo].[TitleTable] ([titleTableEmployee], [titleTableDoctor], [titleTableUser], [titleTableAppointments], [titleTableReviews], [titleTableNews]) VALUES (N'Mật khẩu', NULL, N'Email', N'Tên bác sĩ', N'Tên bác sĩ', N'Nội dung')
GO
INSERT [dbo].[User] ([id], [email], [password], [name], [birthDate], [gender], [address], [provinceId], [identity], [medicalId], [ethnic], [phone], [profilePicture], [createdAt]) VALUES (N'1', N'nguyenthitubinh133@gmail.com', N'7150a81293c5344e082eb96f59145503fe7f31593a60f1bc333c9bb4b19a3d975de9de8ae56a6f86cdd76d1dcbd0644c', N'Nguyễn Tú Bình', CAST(N'2003-04-14' AS Date), 1, N'Thạch Thất - Hà Nội', 1, N'0123456789', NULL, N'Kinh', N'0358219546', N'assets/client/images/doctor-thumb-01.jpg', NULL)
INSERT [dbo].[User] ([id], [email], [password], [name], [birthDate], [gender], [address], [provinceId], [identity], [medicalId], [ethnic], [phone], [profilePicture], [createdAt]) VALUES (N'2', N'nguyenvietthu03@gmail.com', N'7150a81293c5344e082eb96f59145503fe7f31593a60f1bc333c9bb4b19a3d975de9de8ae56a6f86cdd76d1dcbd0644c', N'Nguyễn Việt Thu', CAST(N'2003-05-05' AS Date), 1, N'Thạch Thất - Hà Nội', 1, N'0123456789', NULL, N'Kinh', N'0358219546', N'assets/client/images/client-img.png', NULL)
INSERT [dbo].[User] ([id], [email], [password], [name], [birthDate], [gender], [address], [provinceId], [identity], [medicalId], [ethnic], [phone], [profilePicture], [createdAt]) VALUES (N'3', N'user', N'7150a81293c5344e082eb96f59145503fe7f31593a60f1bc333c9bb4b19a3d975de9de8ae56a6f86cdd76d1dcbd0644c', N'Nguyễn Tú Bình', CAST(N'2003-05-06' AS Date), 0, N'Thạch Thất - Hà Nội', 1, N'0123456789', NULL, NULL, N'0123456789', N'assets/client/images/doctor-thumb-02.jpg', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Doctor__AB6E6164E4696F85]    Script Date: 04/10/2023 8:39:10 pm ******/
ALTER TABLE [dbo].[Doctor] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__AB6E6164D5C132F5]    Script Date: 04/10/2023 8:39:10 pm ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__FamilyPr__AB6E6164395CF066]    Script Date: 04/10/2023 8:39:10 pm ******/
ALTER TABLE [dbo].[FamilyProfile] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E6164F5D53455]    Script Date: 04/10/2023 8:39:10 pm ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([serviceId])
REFERENCES [dbo].[ServiceTag] ([id])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Awards]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[BannerDetails]  WITH CHECK ADD FOREIGN KEY([bannerId])
REFERENCES [dbo].[Banner] ([id])
GO
ALTER TABLE [dbo].[BillingHistory]  WITH CHECK ADD FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointments] ([id])
GO
ALTER TABLE [dbo].[BillingHistory]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[BillingHistory]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD FOREIGN KEY([locateId])
REFERENCES [dbo].[Province] ([id])
GO
ALTER TABLE [dbo].[CancelledRequest]  WITH CHECK ADD FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointments] ([id])
GO
ALTER TABLE [dbo].[CancelledRequest]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[CancelledRequest]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[CertificateDoctor]  WITH CHECK ADD FOREIGN KEY([certId])
REFERENCES [dbo].[Certificate] ([id])
GO
ALTER TABLE [dbo].[CertificateDoctor]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([ARId])
REFERENCES [dbo].[AcademicRank] ([id])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([branchId])
REFERENCES [dbo].[Branch] ([id])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([CVId])
REFERENCES [dbo].[CurriculumVitae] ([id])
GO
ALTER TABLE [dbo].[DoctorService]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[DoctorService]  WITH CHECK ADD FOREIGN KEY([serviceId])
REFERENCES [dbo].[ServiceTag] ([id])
GO
ALTER TABLE [dbo].[DoctorWorkingDay]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[DoctorWorkingSlot]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[DoctorWorkingSlot]  WITH CHECK ADD FOREIGN KEY([slotId])
REFERENCES [dbo].[WorkingSlot] ([id])
GO
ALTER TABLE [dbo].[Education]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([branchId])
REFERENCES [dbo].[Branch] ([id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([provinceId])
REFERENCES [dbo].[Province] ([id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[EmployeeRole] ([id])
GO
ALTER TABLE [dbo].[Experience]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[FamilyProfile]  WITH CHECK ADD FOREIGN KEY([provinceId])
REFERENCES [dbo].[Province] ([id])
GO
ALTER TABLE [dbo].[FamilyProfile]  WITH CHECK ADD FOREIGN KEY([relationId])
REFERENCES [dbo].[Relationship] ([id])
GO
ALTER TABLE [dbo].[FamilyProfile]  WITH CHECK ADD  CONSTRAINT [FK_FamilyProfile_User] FOREIGN KEY([ownerId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[FamilyProfile] CHECK CONSTRAINT [FK_FamilyProfile_User]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([author])
REFERENCES [dbo].[Employee] ([email])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([categoryId])
REFERENCES [dbo].[NewsCategory] ([id])
GO
ALTER TABLE [dbo].[ResearchPapers]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointments] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[ServiceTag]  WITH CHECK ADD FOREIGN KEY([departmentId])
REFERENCES [dbo].[Department] ([id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([provinceId])
REFERENCES [dbo].[Province] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]<=(5)))
GO
USE [master]
GO
