<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>Controllers.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDoctorDetailServlet</servlet-name>
        <servlet-class>Controllers.UserDoctorDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServiceDetailServlet</servlet-name>
        <servlet-class>Controllers.UserServiceDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserNewsServlet</servlet-name>
        <servlet-class>Controllers.UserNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutController</servlet-name>
        <servlet-class>Controllers.UserLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Controllers.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFamilyProfileByOwnerIdServlet</servlet-name>
        <servlet-class>Controllers.LoadFamilyProfileByOwnerIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPaymentHistoryServlet</servlet-name>
        <servlet-class>Controllers.UserPaymentHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAppointmentController</servlet-name>
        <servlet-class>Controllers.UserAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorHomeServlet</servlet-name>
        <servlet-class>Controllers.DoctorHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAppointmentServlet</servlet-name>
        <servlet-class>Controllers.GetAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorScheduleServlet</servlet-name>
        <servlet-class>Controllers.DoctorScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorReviewServlet</servlet-name>
        <servlet-class>Controllers.DoctorReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/user-login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserHomeServlet</servlet-name>
        <servlet-class>Controllers.UserHomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserHomeServlet</servlet-name>
        <url-pattern>/user-home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoginGoogleHandler</servlet-name>
        <servlet-class>Controllers.UserLoginGoogleHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginGoogleHandler</servlet-name>
        <url-pattern>/user-login-google-handler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>Controllers.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/user-register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserBranchDetailServlet</servlet-name>
        <servlet-class>Controllers.UserBranchDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserBranchDetailServlet</servlet-name>
        <url-pattern>/user-branch-detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserListAllDoctorServlet</servlet-name>
        <servlet-class>Controllers.UserListAllDoctorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListAllDoctorServlet</servlet-name>
        <url-pattern>/user-list-all-doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDoctorDetailServlet</servlet-name>
        <url-pattern>/user-doctor-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServiceDetailServlet</servlet-name>
        <url-pattern>/user-service-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutController</servlet-name>
        <url-pattern>/user-logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/user-profile</url-pattern>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <!-- This is 10 MB -->
            <max-request-size>20971520</max-request-size>
            <!-- This is 20 MB -->
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserNewsServlet</servlet-name>
        <url-pattern>/news</url-pattern>
        <url-pattern>/news/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPaymentHistoryServlet</servlet-name>
        <url-pattern>/user-payment-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAppointmentController</servlet-name>
        <url-pattern>/user-appointment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserBookingAppointmentServlet</servlet-name>
        <servlet-class>Controllers.UserBookAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserBookingAppointmentServlet</servlet-name>
        <url-pattern>/user-book-appointment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoadInfoOfAppointmentServlet</servlet-name>
        <servlet-class>Controllers.UserLoadInfoOfAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoadInfoOfAppointmentServlet</servlet-name>
        <url-pattern>/load-info-appointment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoadDatesBookingByServiceIdAndDoctorId</servlet-name>
        <servlet-class>Controllers.UserLoadScheduleBooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoadDatesBookingByServiceIdAndDoctorId</servlet-name>
        <url-pattern>/load-schedule-booking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoadDoctorsByServiceId</servlet-name>
        <servlet-class>Controllers.UserLoadDoctorsByServiceId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoadDoctorsByServiceId</servlet-name>
        <url-pattern>/load-doctors-by-serviceid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoadEachFamilyProfile</servlet-name>
        <servlet-class>Controllers.UserLoadEachFamilyProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoadEachFamilyProfile</servlet-name>
        <url-pattern>/load-each-family-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorHomeServlet</servlet-name>
        <url-pattern>/doctor-home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppointmentServlet</servlet-name>
        <url-pattern>/getAppointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFamilyProfileByOwnerIdServlet</servlet-name>
        <url-pattern>/load-html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorScheduleServlet</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminDoctorController</servlet-name>
        <servlet-class>Controllers.AdminDoctorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDoctorController</servlet-name>
        <url-pattern>/admin-doctor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserRegisterGoogleHandler</servlet-name>
        <servlet-class>Controllers.UserRegisterGoogleHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegisterGoogleHandler</servlet-name>
        <url-pattern>/user-register-google-handler</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>admin-screen/admin-login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>DoctorReviewServlet</servlet-name>
        <url-pattern>/view-review</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
